@()(content: Html)

<!DOCTYPE html>
<vmp lang="en" ng-app="searchmvc" data-framework="angularjs">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Binding for Scala.js :: TodoMVC Example</title>

    @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">*@
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="@routes.Assets.versioned("todomvc-client-jsdeps.js")"></script>
    <script src="@routes.Assets.versioned("todomvc-client-fastopt.js")"></script>
    <script src="@routes.Assets.versioned("todomvc-client-launcher.js")"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>[ng-cloak] { display: none; }</style>
  </head>
  <body>
    @_nav()
    <div class="container">
      @content
    </div>
  </body>
</vmp>