@import com.pharmpress.common.model.dmd.Amp

@(amp: Amp)

@_main() {
<h1>Actual Medicinal Product</h1>
  <table>
  <tr><td>Id</td><td>@amp.id</td></tr>
  <tr><td>Invalid</td><td>@amp.invalid</td></tr>
  <tr><td>Name</td><td>@amp.name</td></tr>
  <tr><td>AbbrevName</td><td>@amp.abbrevName</td></tr>
  <tr><td>Desc</td><td>@amp.desc</td></tr>
  <tr><td>NameDate</td><td>@amp.nameDate</td></tr>
  <tr><td>NamePrev</td><td>@amp.namePrev</td></tr>
  <tr><td>LicAuth</td><td>@amp.licAuth</td></tr>
  <tr><td>LicAuthChange</td><td>@amp.licAuthChange</td></tr>
  <tr><td>LicAuthDate</td><td>@amp.licAuthDate</td></tr>
  <tr><td>CombProd</td><td>@amp.combProd</td></tr>
  <tr><td>Flavour</td><td>@amp.flavour</td></tr>
  <tr><td>Ema</td><td>@amp.ema</td></tr>
  <tr><td>ParallelImport</td><td>@amp.parallelImport</td></tr>
  <tr><td>AvailRestrict</td><td>@amp.availRestrict</td></tr>
  <tr><td>VmpId</td><td>@amp.vmpId</td></tr>
  <tr><td>VtmId</td><td>@amp.vtmId</td></tr>
  <tr><td>Supplier</td><td>@amp.supplier</td></tr>
  <tr><td>ActualProductIngredient</td><td>@amp.actualProductIngredient</td></tr>
  <tr><td>ApplianceProductInformation</td><td>@amp.applianceProductInformation</td></tr>
  <tr><td>LicensedRoute</td><td>@amp.licensedRoute.map(_.map(_.route).mkString(", "))</td></tr>
  <tr><td>TradeFamilyGroupId</td><td>@amp.tradeFamilyGroupId</td></tr>
  <tr><td>TradeFamilyId</td><td>@amp.tradeFamilyId</td></tr>
    </table>

  @if(amp.actualProductIngredient.nonEmpty) {
    <table>
      <tr>
        <th>Substance</th>
        <th>Strength</th>
        <th>Strength unit</th>
      </tr>
      @for(ingredient <- amp.actualProductIngredient.get) {
        <tr>
          <td>@ingredient.ingredientSubstance.name</td>
          <td>@ingredient.strength</td>
          <td>@ingredient.unitOfMeasure</td>
        </tr>
      }
    </table>
  }
}