@()

@_main() {

<section ng-controller="searchCtrl">
    <header id="header" todo-test="test">
        <div class="page-header">
            <h1>Search</h1>
        </div>
        <form id="todo-form">
            <div class="input-group">
                <input type="text" class="form-control" id="new-query" placeholder="Enter DM+D search term" ng-model="query" autofocus/>
                <span class="input-group-btn">
                    <button id="clear-completed" class="btn btn-default" type="submit" ng-click="controller.search(query)">search</button>
                </span>
            </div>
        </form>
    </header>
    <section id="search-results">
        <p ng-repeat="result in results"><span ng-cloak><span class="badge">{{result.type}}</span> <a ng-href="/{{result.type}}/{{result.id}}">{{result.name}}</a></span></p>
    </section>
</section>
}