@import com.pharmpress.common.model.dmd.TradeFamily

@(dmd: String, tf: TradeFamily)

@dmdMain {
  <div class="page-header" ng-init="controller.loadAmpsForTradeFamily('@dmd', '@tf.id')">
    <h1>Trade Family</h1>
  </div>
  <table class="table table-striped">
    <tr><td>ID</td><td>@tf.id</td></tr>
    <tr><td>Name</td><td>@tf.name</td></tr>
    <tr>
      <td>Trade Family Group</td>
      <td>
        @if(tf.groupId.nonEmpty) {
          <a href="/@dmd/tfg/@tf.groupId.get">@tf.groupId</a>
        }
      </td>
    </tr>
  </table>

  <h2>Actual Medicinal Products</h2>
  <table class="table table-striped">
    <tr ng-repeat="amp in amps | orderBy: 'title'">
      <td>{{amp.id}}</td><td><a href="/@dmd/amp/{{amp.id}}">{{amp.title}}</a></td>
    </tr>
  </table>
}